
*{
	margin:0px;
	padding:0px;
}

body{
	background:url(../imiges/image.jpg) no-repeat center center fixed;
	background-size:100% 100%;
}


.a{
	position:absolute;
	left:20%;
    right:20%;
    top:10%;
	opacity:3;
}
.out{
	width: 1000px;
	height:600px;
	background:white;
	position:absolute;
	left:50%;
	top:50%;
	transform: translateX(-50%) translateY(-50%);
	overflow:auto;
    opacity:0.7;
    border-radius:20px;
}
.end{
text-align:center;
	font:20px;
}

.error{
	color:red;
}
