.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color:crimson;
}
  .ArtworkImage img
{
    margin: 30px;
    margin-right: 5px;
    width: 40%;
    height: 17%;
    background-color: aqua;
    float: left;
}
.Artwork-container
{
    width: 100%;  
    margin-top: 40px;
    margin-bottom: 40px;
   
}
.ArtworkData
{
    width: 50%;
    margin: 30px;
      height: 17%;
    margin-left: 5px;
    background-color:  #2e6da4;
    padding: 30px;
    float:Right;
    display: inline;
    color: white;
    font-family: Montserrat,cursive;
    box-shadow: 10px 10px 10px  grey;
}
.carousel-caption {
  padding-bottom: 300px;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 1, 1, .9);
}
 h1
{
    text-align: center;
    font-family: 'Pacifico', cursive;
    
}
h3
{
    font-family: 'Pacifico', cursive;
    color: white;
    display: inline;
}
h2
{
    font-family: 'Pacifico', cursive;
    color:black
}

.parent
{
    width: 100%;  
    margin-top: 40px;
    margin-bottom: 40px;
    height: 2000px;
    background-color:black
        
}
.img1
{
    margin: 30px;
    margin-right: 5px;
    width: 40%;
    height: 17%;
    background-color: aqua;
    border: 5px solid white;
    float: left;
    
}
.par1
{
    width: 50%;
    margin: 30px;
      height: 17%;
    margin-left: 5px;
    background-color: black;
    padding: 30px;
    float:left;
    display: inline;
}
.par1 h2
{
    color:crimson;
    display: inline;
    
}
.dropdown-menu
{
    height: 200px;
   overflow: auto;    
}
.error
{
    color: red;
    font-family: cursive;
    display: inline;
}

.par1 h3
{
    color:bisque;
    display: inline;
    font-family: cursive;
}
.img1 img
{
    width:100%;
    height: 100%;
}
.img2
{
    margin: 30px;
    margin-right: 5px;
    width: 40%;
    height: 17%;
    background-color: aqua;
    float: left
}
.img2 img
{
    width:100%;
    height: 100%;
}
.par2
{
    width: 50%;
    margin: 30px;
      height: 17%;
    margin-left: 5px;
    background-color: black;
    padding: 30px;
    float:left;
}
.img2
{
    margin: 30px;
    margin-right: 5px;
    width: 40%;
    height: 17%;
    background-color: aqua;
    float: left
}
.img3 img
{
    width:100%;
    height: 100%;
}
.par3
{
    width: 50%;
    margin: 30px;
      height: 17%;
    margin-left: 5px;
    background-color: black;
    padding: 30px;
    float:left;
}
.img3
{
    margin: 30px;
    margin-right: 5px;
    width: 40%;
    height: 17%;
    background-color: aqua;
    float: left
}
.img4 img
{
    width:100%;
    height: 100%;
}
.par4
{
    width: 50%;
    margin: 30px;
      height: 17%;
    margin-left: 5px;
    background-color: black;
    padding: 30px;
    float:left;
}
.img4
{
    margin: 30px;
    margin-right: 5px;
    width: 40%;
    height: 17%;
    background-color: aqua;
    float: left
}
.img5 img
{
    width:100%;
    height: 100%;
}
.par5
{
    width: 50%;
    margin: 30px;
      height: 17%;
    margin-left: 5px;
    background-color: black;
    padding: 30px;
    float:left;
}
.img5
{
    margin: 30px;
    margin-right: 5px;
    width: 40%;
    height: 17%;
    background-color: aqua;
    float: left
}
.footer
{
    padding: 20px;
    width: 100%;
    height: 10px;
    background-color:white;
}
.contest
{
    width: 100%;
    height:820px;
    background-image: url("../imiges/8csstu-7iom-bruno-nascimento.jpg");
    background-repeat: no-repeat;
        
}
.info
{
    width: 40%;
    height: 300px;
    float: right;
    margin-top: 125px;
    margin-right: 200px;
    padding: 20px;
}
.dropdown
{
    margin-left: 20px;
    margin-right: 20px;
}
.workshop
{
    width: 100%;
    height:967px;
    background-image: url("../imiges/v4eozj7g1gw-neven-krcmarek%20(1)%20-%20Copy.jpg");
    background-repeat: no-repeat;
        
}
.winfo
{
    width: 30%;
    height: 300px;
    float: right;
    margin-top: 368px;
    margin-right: 400px;
    padding: 20px;
}
.winfo button
{
    display: inline;
}
.form-group
{
    display: inline;
}
.winfo h1
{
    text-align: center;
    font-family: 'Pacifico', cursive;
    color:dodgerblue;
    margin-top: 27px;
    
}
.winfo label
{
    color:azure
}
.heldart
{
    width: 100%;
    height:805px;
    background-image: url("../imiges/vkwrmha1_ti-tim-arterbury.jpg");
    background-repeat: no-repeat;
        
}
.heldartinfo
{
    width: 30%;
    height: 300px;
    float: right;
    margin-top: 125px;
    margin-right: 200px;
    padding: 20px;
}
.myworkshop
{
    width: 100%;
    height: 1500px;
    
}
.myworkshopinfo
{
    
    width: 40%;
    height: 410px;
    float: left;
    margin:20px 10px 40px 80px ;
    background-image: url("../imiges/1481529122_color_pailet_with_brush.png");
    border: 5px solid black;
    background-clip:content-box;
    background-repeat: no-repeat;
 }
.wshop
{
    width: 70%;
    height: 280px;
    margin-left: 150px;
    margin-top: 120px;
}
.myworkshop h1{
    margin-top: 50px;
    margin-bottom: 40px;
}
.wshop h2
{
    display: inline;
    color:black;
}
.wshop h4
{
    display: inline;
    color:navy;
}
.button
{
    float: right;
    margin: 20px;
}
.c1
{
    float:left
}
.contest1
{
    width: 100%;
    height: 700px;
    background-color: black;
    padding:20px; 
}
.con1
{
    
    width: 40%;
    height: 410px;
    float: left;
    margin:20px 10px 60px 60px ;
    background-clip:content-box;
    background-repeat: no-repeat;
 }
.con1info
{
    width: 70%;
    height: 120px;
    margin-left: 30px;
}
.imgcon
{
    width: 70%;
    height: 260px;
    border: 5px solid white;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.imgcon img
{
    width: 100%;
    height: 100%;
}
.con1info h2
{
    color:crimson;
    display: inline;
}
.con1info h3
{
    color:bisque;
    display: inline;
    font-family:  cursive;
}

.contest1 h1
{
    color: aliceblue;
}
li
{
    display:inline
}
.parentaboutme
{
    width: 100%;  
    margin-top: 5px;
    margin-bottom: 5px;
    height: 520px;
    background-color:black
        
}
.parent h1
{
    color: white;
}
.im
{
    margin: 30px;
    margin-right: 0px;
    width: 35%;
    height: 83%;
    background-image: url("../imiges/xvfzo6lmb0-maria-victoria-heredia-reyes.jpg");
    border: 5px solid white;
    float: left;
    
}
.artistinfo
{
    width: 50%;
   //margin: 30px;
    height: 93%;
    //margin-left: 5px;
    //background-color:bisque;
    float: left;
    padding: 30px;
}
.artistinfo h3
{
    color:crimson;
}
.usname
{
    width: 100%;
    height: 15%;
    //background-color: aqua;
}
.us
{
    width:70%;
    height: 90%;
    float: left; 
    background-color:bisque;
    padding: 20px;
}
.us h3
{
    color: crimson;
    margin: 10px;
}
.upname
{
    width:30%;
    height: 90%;
    float: left;
    //background-color:brown;
}
.upname .button
{
    float: left;
    padding-left: 6px;
}
.passeword
{
    width: 100%;
    height: 15%;
    //background-color: aqua;
}
.passw
{
    width:70%;
    height: 90%;
    float: left; 
    background-color:bisque;
    padding: 20px;
}
.passw h3
{
    color: crimson;
    margin: 10px;
    //float: left;
}
.uppassw
{
    width:30%;
    height: 90%;
    float: left;
    //background-color:brown;
}
.uppassw .button
{
    float: left;
    padding-left: 6px;
}
.birthdate
{
    width: 100%;
    height: 15%;
    //background-color: aqua;
}
.bdate
{
    width:70%;
    height: 90%;
    float: left; 
    background-color:bisque;
    padding: 20px;
}
.bdate h3
{
    color: crimson;
    margin: 10px;
    //float: left;
}
.upbdate
{
    width:30%;
    height: 90%;
    float: left;
    //background-color:brown;
}
.upbdate .button
{
    float: left;
    padding-left: 6px;
}
.briefhistory
{
    width: 100%;
    height: 60%;
    //background-color: aqua;
}
.briefh
{
    width:70%;
    height: 90%;
    float: left; 
    background-color:bisque;
    padding: 20px;
}
.briefh h3
{
    color: crimson;
    margin: 10px;
    //float: left;
}
.upbriefh
{
    width:30%;
    height: 90%;
    float: left;
    //background-color:brown;
}
.upbriefh .button
{
    float: left;
    padding-left: 6px;
}
